body {
  background-color: #f1efe0;
  background-image: url("/images/back.png");
  background-repeat: repeat;
  background-size: 300px 200px;
  background-position: center;
  margin: 0;
  padding: 0;
  font-family: "Kosugi Maru", sans-serif;
  font-weight: bold;
}

* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  margin: 0;
}
