.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Kosugi Maru", sans-serif;
  font-weight: bold;
}

.component {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.card {
  position: relative;
  width: 289px;
  height: 169px;
  transform-origin: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.textTop,
.textMiddle {
  position: absolute;
  width: 100%;
  text-align: center;
}

.textTop {
  top: 25%;
  text-align: center;
  justify-content: center;
  left: 145px;
  font-size: 24px;
  min-height: 30px;
  max-width: 128px;
  white-space: nowrap;
  overflow: hidden;
}

.textMiddle {
  top: 80%;
  right: 65px;
  font-size: 20px;
}

.inputForms {
  display: flex;
  flex-direction: column;
}

.inputForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.inputForm label {
  margin-bottom: 5px;
  text-align: left;
}

.button {
  padding: 10px 25px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 0px;
  font-weight: bold;
  color: #f0f0f0;
  background: #85beba;
  box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.39);
  transition: background-color 0.3s ease;
}

.button:disabled {
  background: #9cc8c6;
}

.button:hover {
  background: #9cc8c6;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #33ccff; /* スピナーの色 */
  width: 20px;
  height: 20px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

/*スマホ*/
@media (max-width: 600px) {
  .inputForms {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
  }
  .inputForm {
    font-size: 12px;
  }
  .card {
    width: 173.4px;
    height: 101.4px;
    border-radius: 6px;
  }

  .textTop {
    top: 20%;
    text-align: center;
    justify-content: center;
    left: 80px;
    min-height: 20px;
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
  }

  .textMiddle {
    top: 82%; /* 学年の位置を調整 */
    right: 38px;
    font-size: 10px;
  }
}
