.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.title {
  margin-top: 10px;
}
